# =======================================
# Python
# =======================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pklz
*.so
*.egg
*.egg-info/
dist/
build/

# =======================================
# Virtual Environment
# =======================================
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# =======================================
# Environment Variables / Secrets
# =======================================
.env
*.env
.env.*

# =======================================
# Django
# =======================================
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/
local_settings.py

# =======================================
# Jupyter Notebook
# =======================================
.ipynb_checkpoints/

# =======================================
# VSCode / IDE
# =======================================
.vscode/
.idea/
*.swp
*~
.project
.pydevproject

# =======================================
# OS Specific
# =======================================
.DS_Store
Thumbs.db

# =======================================
# Testing / Coverage
# =======================================
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/
